{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="mb-0">Home</h5>
              </div>
            </div>
            <div class="col-md-12">
              <ul class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Dashboard</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
      <div class="row">
        

        <!-- [ Course Section ] start -->
        {% if courses %}
        <div class="col-md-12">
            <h2 class="mb-4">Your Courses</h2>
            <div class="row">
                {% for course in courses %}
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-3">{{ course.title }}</h6>
                            <div class="row d-flex align-items-center">
                              <div class="col-12 d-flex justify-content-center">
                                <img src="{% static 'assets/images/user/book.jpeg' %}" alt="{{ course.title }}" 
                                     class="img-fluid rounded" style="width: 300px; height: 200px; object-fit: cover;">
                              </div>
                            
                                <div class="col-12 mt-3">
                                    <p class="m-b-0">{{ course.description }}</p>
                                </div>
                            </div>
                            {% comment %} <div class="progress m-t-20" style="height: 7px;">
                                <div class="progress-bar bg-brand-color-2" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> {% endcomment %}
                            <a href="{% url 'course_videos' course.id %}" class="btn btn-primary mt-3 w-100">View Course</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else  %}
        <h2 class="mb-4 text-center" style="font-size: 22px;">You are not enrolled in any class please contact admin.</h2>
        {% endif  %}
        <!-- [ Course Section ] end -->
    </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>

{% endblock content %}

{% block extra_js %}

<script src="{% static "assets/js/plugins/apexcharts.min.js" %}"></script>
<script src="{% static "assets/js/plugins/jsvectormap.min.js" %}"></script>
<script src="{% static "assets/js/plugins/world.js" %}"></script>
<script src="{% static "assets/js/pages/dashboard-default.js" %}"></script>

{% endblock extra_js %}