{% load static %}

<!-- [Meta] -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sprachen Zentrum is a premier language school focused on teaching the German language with expert instructors and immersive learning techniques.">
<meta name="keywords" content="Sprachen Zentrum, German language school, learn German, German courses, language learning, teach German">
<meta name="author" content="Sprachen Zentrum">
<!-- Hidden meta tag to indicate the creator of the site (with your name and site URL) -->
<meta name="creator" content="Bibash Adhikari, https://www.adhikaribibash.com.np">

<!-- [Favicon] icon -->
<link rel="icon" href="{% static "assets/images/favicon.png" %}" type="image/x-icon"> <!-- [Font] Family -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="{% static "assets/fonts/tabler-icons.min.css" %}" >
<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="{% static "assets/fonts/feather.css" %}" >
<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="{% static "assets/fonts/fontawesome.css" %}" >
<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="{% static "assets/fonts/material.css" %}" >
<!-- [Template CSS Files] -->
<link rel="stylesheet" href="{% static "assets/css/style.css" %}" id="main-style-link" >
<link rel="stylesheet" href="{% static "assets/css/style-preset.css" %}" >
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=YOUR_GOOGLE_TAG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'YOUR_GOOGLE_TAG');
</script>
